.page-top {
    padding-top: var(--navbar-height);

    &__beared-links{
        @include flex();

        list-style: none;

        li{
            margin-right: 0 5px;

            &:first-child{
                a{
                    &::before{
                        display: none;
                    }
                }
            }

            a{
                font-size: 1rem;
                font-weight: $fontWeight--medium;
                
                text-transform: capitalize;

                &::before{
                    content: "/";

                    margin: 0 10px;
                }
            }
        }
        
        @include devices(xl){
            display: none;
        }
    }

    &__title{
        font-weight: $fontWeight--medium;

        text-transform: uppercase;
        letter-spacing: 5px;

        @include devices(xl){
            font-size: 3rem;
        }
    }

    &.alt{
        @include wrap-big;
        @include flex(row, space-between, flex-end);

        margin-top: 100px;
        margin-bottom: 150px;

        @include devices(xl){
            @include flex(column, center, center);
            
            margin: 30px 0;
        }

        &.small{
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }

    &.color{
        @include wrap-big-fluid;
        @include flex(row, space-between, center);

        margin-top: 50px;
        padding-bottom: 50px;

        background-color: $color--section-background;

        @include devices(xl){
            @include flex(column, center, center);
        }
    }
}

.btn {
    @include center;

    padding: 25px 40px;

    font-size: 1.2rem;
    font-weight: $fontWeight--medium;

    border-radius: 100px;

    transition: .3s;

    text-transform: capitalize;

    &:hover {
        transform: scale(1.05);
    }

    &--primary {
        background-color: $color--primary;
        color: $color--body-background;
    }

    &--secondary {
        background-color: $color--other;
        color: $color--primary;

        &.hover{
            &:hover{
              background-color: $color--primary;
              color: $color--body-background;  

              &::after{
                filter: brightness(100);
              }
            }
        }
    }

    &--iconed,
    &--iconed-colored {
        &:hover {
            &::after {
                margin-left: 30px;
            }
        }

        &::after {
            content: "";

            display: block;

            width: 40px;
            height: 7px;

            margin-left: 20px;

            background-image: url(../img/icons/arrow-btn-colored.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;

            filter: brightness(100);

            transition: .3s;

            @include devices(xl) {
                width: 30px;
            }
        }
    }

    &--iconed-colored {
        &::after {
            filter: brightness(1);
        }
    }

    @include devices(xl) {
        padding: 10px 20px;

        font-size: 2.5rem;
    }
}

.lined-title {
    position: relative;

    isolation: isolate;

    width: 100%;

    &::before {
        content: "";

        position: absolute;

        z-index: -1;

        top: 50%;
        left: calc(calc(100vw - $wrapper--size) / -2);
        transform: translateY(-50%);

        display: block;

        width: 100vw;
        height: 1px;

        background-color: transparentize($color--body-foreground, .5);

        @include devices(xxl) {
            left: calc($wrapper--mobilePadding * -1);
        }
    }

    h2 {
        width: max-content;

        padding: 0 60px;
        margin: auto;

        font-size: 2rem;
        font-weight: $fontWeight--ultra-bold;
        letter-spacing: 2px;

        text-transform: uppercase;

        background-color: $color--body-background;

        @include devices(xl) {
            padding: 0 30px;
        }
    }

    &.big-image{
        isolation: isolate;

        padding-top: 10vw;
        padding-bottom: 10vw;

        h2{
            background-image: url(../img/navbar/big-logo.png);
            background-position: center center;
            background-size: 50vw 30vw;
            background-repeat: no-repeat;
        }

        &::after{
            content: "";

            position: absolute;

            z-index: -2;

            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            display: block;

            width: 50vw;
            height: 30vw;

            background-image: url(../img/navbar/big-logo.png);
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}