.project-other {
    @include wrap-fluid;

    padding-bottom: 70px;

    &__title {
        @include center;

        h2 {
            margin: 70px 0;

            font-size: 2rem;
            font-weight: $fontWeight--bold;

            text-align: center;

            &::first-letter{
                text-transform: uppercase;
            }

            @include devices(xl) {
                margin: 30px;

                font-size: 3rem;
            }
        }
    }

    &__slider {
        .swiper-wrapper {
            .swiper-slide {
                a {
                    .wrapper {
                        @include aspect(5, 3);

                        overflow: hidden;

                        &:hover {
                            img {
                                transform: scale(1.1);
                            }
                        }

                        img {
                            width: 100%;
                            height: 100%;

                            object-fit: cover;

                            transition: .3s;
                        }
                    }

                    h2 {
                        margin: 40px 0;

                        font-size: 1rem;
                        font-weight: $fontWeight--bold;

                        text-align: center;

                        &::first-letter{
                            text-transform: uppercase;
                        }


                        @include devices(xl) {
                            margin: 10px;

                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }

    .buttons {
        @include center;

        .button-prev,
        .button-next {
            @include center;

            width: 60px;
            height: 60px;

            margin: 0 20px;

            background-color: $color--section-background;

            border: 0;
            border-radius: 100%;

            transition: .3s;

            img {

                @include devices(xl) {
                    width: 15px;
                    height: 15px;
                }
            }

            @include devices(xl) {
                width: 40px;
                height: 40px;
            }
        }

        .swiper-button-disabled {
            background-color: transparent;
        }
    }

    @include devices(xl) {
        padding-bottom: 40px;
    }
}